
venv/bin/activate.csh

venv/bin/activate.fish

venv/bin/python

venv/bin/python3

venv/bin/python3.6

venv/lib64

venv/pyvenv.cfg

.idea/misc.xml

.idea/Stepik.iml

.idea/vcs.xml

.idea/workspace.xml

Autotests_with_Selenium_and_Python/__pycache__/settings.cpython-36.pyc
