
venv/bin/activate.csh

venv/bin/activate.fish

venv/bin/python

venv/bin/python3

venv/bin/python3.6

venv/lib64

venv/pyvenv.cfg

.idea/misc.xml

.idea/Stepik.iml

.idea/vcs.xml

.idea/workspace.xml

Autotests_with_Selenium_and_Python/__pycache__/settings.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/bin/activate

Autotests_with_Selenium_and_Python/venv/bin/activate.csh

Autotests_with_Selenium_and_Python/venv/bin/activate.fish

Autotests_with_Selenium_and_Python/venv/bin/easy_install

Autotests_with_Selenium_and_Python/venv/bin/easy_install-3.6

Autotests_with_Selenium_and_Python/venv/bin/pip

Autotests_with_Selenium_and_Python/venv/bin/pip3

Autotests_with_Selenium_and_Python/venv/bin/pip3.6

Autotests_with_Selenium_and_Python/venv/bin/python

Autotests_with_Selenium_and_Python/venv/bin/python3

Autotests_with_Selenium_and_Python/venv/bin/python3.6

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/easy-install.pth

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/dependency_links.txt

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/entry_points.txt

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/not-zip-safe

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/PKG-INFO

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/SOURCES.txt

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/EGG-INFO/top_level.txt

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/__init__.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/__main__.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/__pycache__/__init__.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__init__.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/__init__.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/build_env.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/cache.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/configuration.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/download.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/exceptions.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/index.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/locations.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/pep425tags.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/pyproject.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/resolve.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/__pycache__/wheel.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/build_env.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cache.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__init__.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/__init__.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/autocompletion.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/base_command.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/cmdoptions.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/main_parser.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/parser.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/__pycache__/status_codes.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/autocompletion.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/base_command.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/cmdoptions.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/main_parser.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/parser.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/cli/status_codes.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__init__.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/__init__.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/check.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/completion.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/configuration.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/download.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/freeze.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/hash.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/help.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/install.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/list.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/search.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/show.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/uninstall.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/__pycache__/wheel.cpython-36.pyc

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/check.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/completion.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/configuration.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/download.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/freeze.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/hash.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/help.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/install.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/list.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/search.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/show.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/uninstall.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/commands/wheel.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/configuration.py

Autotests_with_Selenium_and_Python/venv/lib/python3.6/site-packages/pip-19.0.3-py3.6.egg/pip/_internal/download.py

Autotests_with_Selenium_and_Python/venv/
